<footer class="footer">
  <div class="social">
    <a href="/"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.linkedin.com/in/bhargav-sirja-540aaa247/"
      ><i class="fab fa-linkedin"></i
    ></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>

  <div class="copyright">
    <p>© StayScape - All Rights Reserved</p>
    <a href="/privacy">privacy</a>
    <a href="/terms">Terms</a>
  </div>
</footer>
